/* basic page color and link behavior*/
* {
	background-color: #0C202E;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* format unordered list without bullets*/
ul {
	list-style-type: none;
}

/* sidebar formatting*/
.name {
	text-align: center;
	font-size: 3em;
	font-family: 'Archivo Narrow';
}

.me_pic {
	border: 1px solid #e8e2de;
}

aside {
	float: left;
	width: 210px;
	padding-top: -10px; 
	padding-left: 30px;
	padding-right: 30px; 
}
	aside a {
	font-family: 'Archivo Narrow', sans-serif;
	color: #71D5FF;
	font-size: 1.5em;
	}

/* article area formatting */
main {
	float: right;
	width: 720px;
	font-family: 'Noto Sans', sans-serif;
	color: #E8E2DE;
}




