<link href="styles.css" type="text/css" rel="stylesheet"  />
		<link href='https://fonts.googleapis.com/css?family=Archivo+Narrow:700italic,700|Noto+Sans' rel='stylesheet' type='text/css'>

* {
	background-color: #0C202E;
}

.name {

	text-align: center;
}

header {

	text-align: left;
}

aside {
	float: left;
	width: 210px;
	padding-right: 30px;
}

main {
	float: right;
	width: 720px;
}

.photo {
	border: 1px solid #e8e2de;
}

h1 {
	font-size: 48px;
}

aside, a {
	font-family: 'Archivo Narrow', sans-serif;
	color: #71D5FF;
	font-size: 125%;
}

main {	
	font-family: 'Noto Sans', sans-serif;
	color: #E8E2DE;
}
